@charset "utf-8";

@media screen and (min-width: 900px) and (max-width: 1600px){
    body{
        background-image: linear-gradient(to top, rgb(140, 140, 140), rgb(65, 65, 65), rgba(0, 0, 0, 0.879));
    }
    section#login{
        width: 60vw;
        height: 70vh;
        min-height: 500px;
        max-height: 700px;
    }
    section#login>div#imagem{
        float: right;
        width: 40%;
        height: 100%;
        background-image: url('../imagens/pexels-arthur-brognoli-2346915.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right, bottom;
        background-attachment: local;


    }
    section#login>div#formulario{
        float: left;
        width: 60%;
        padding: 10%;
    }
    section#login h1{
        font-size: 2.0em;
    }
    section#login p{
        text-align: justify;
        font-size: 1.1em;
    }
    div.campo{
        max-width: 300px;
    }
    div.campo>input{
        max-width: 300px;
    }
}

@media screen and (min-width: 1601px){
    body{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.855), rgb(80, 80, 80), rgb(179, 179, 179));
    }
    section#login{
        width: 80vw;
        max-width: 1200px;
        height: 60vh;
        min-height: 350px;
        max-height: 1300px;
    }
    section#login>div#imagem{
        float: left;
        width: 70%;
        height: 100%;
        background-image: url('../imagens/pexels-nout-gons-248159.jpg');
    }
    section#login>div#formulario{
        float: right;
        width: 30%;
        padding: 4%;

    }
    section#login h1{
        font-size: 2.0em;
    }
    section#login p{
        text-align: justify;
        font-size: 1.3em;
    }
    section#login>div#formulario>form>div.campo{
        margin: 10px 0px;
    }
}
